* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
.btn {
	outline: none;
	background-color: aqua;
}
.er {
	border: 2px solid red;
	outline: none;
}
.App {
	display: flex;
}
.tl {
	margin-left: 50px;
}
